<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<body id="particles-js">
  <div class="group_name">
    <ul class="nav justify-content-center">
      <li class="nav-item cursor">
        <a class="nav-link active main_nav" href="/admin">Home</a>
      </li>
      <% if(!member){ %>
      <li class="nav-item cursor">
        <a class="nav-link active main_nav" href="/admin/sign-up">Signup</a>
      </li>
      <li class="nav-item cursor">
        <a class="nav-link active main_nav" href="/admin/login">Login</a>
      </li>
      <% }else if(member.mb_type === 'ADMIN'){ %>
      <li class="nav-item cursor">
        <a class="nav-link active main_nav" href="/admin/control">AdminPage</a>
      </li>
      <li
        class="nav-item cursor"
        onclick="return confirm('Do you want to logout?')"
      >
        <a class="nav-link active main_nav" href="/admin/logout">Logout</a>
      </li>
      <% }else{%>
      <li class="nav-item cursor">
        <a class="nav-link active main_nav" href="/admin/shop-control"
          >ShopPage</a
        >
      </li>
      <li class="nav-item cursor">
        <a
          class="nav-link active main_nav"
          href="/admin/logout"
          onclick="return confirm('Do you want to logout?')"
          >Logout</a
        >
      </li>
      <% } %>
    </ul>
  </div>
  <p class="page_desc">Puppy Home website admin control page</p>

  <script src="/js/particles.js"></script>
  <script src="/js/app.js"></script>
</body>
<%-include('includes/footer')%>
