<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<body>
  <form
    onsubmit="return validateSignUpForm()"
    class="login_container"
    action="/admin/sign-up"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span class="login_title">Sign up</span>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Username</label>
          <input
            type="text"
            name="mb_nick"
            class="mb_nick"
            placeholder="ex: James Shop"
            value=""
            required
            autocomplete="off"
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Phone number</label>
          <input
            type="text"
            name="mb_phone"
            class="mb_phone"
            placeholder="010 5788 5120"
            value=""
            required
            autocomplete="off"
          />
        </div>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Password</label>
          <input
            type="password"
            name="mb_password"
            class="mb_password"
            placeholder="******"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Comfirm Password</label>
          <input
            type="password"
            name="mb_confirm_password"
            class="mb_confirm_password"
            placeholder="******"
            value=""
            required
          />
        </div>
      </div>
      <div class="login_input_frame">
        <div class="media-frame">
          <img
            class="upload_img_frame"
            src="/images/default_shop.jpeg"
            alt="default_shop"
          />
          <div class="upload_container">
            <span class="media_text font">Shop Image</span>
            <div class="filebox bs3-primary preview-image">
              <input
                disabled="disabled"
                value="Choose image"
                class="upload-name"
              />
              <label for="input_file">Upload image</label>
              <input
                type="file"
                id="input_file"
                name="shop_img"
                class="upload-hidden form-control-file shop_img"
              />
            </div>
            <p class="thumbnail_desc">
              <br />
              Available image formats: .jpg, .jpeg, png <br />
              There must be not notes on the image
            </p>
          </div>
        </div>
      </div>
      <button class="login_btn btn" name="signup" type="submit">Sign up</button>
      <div class="signup_link">
        <div>If you already have an account</div>
        <a href="/admin/login">Log in</a>
      </div>
    </div>
  </form>
  <script>
    $(function () {
      let fileTarget = $(".filebox .upload-hidden");
      let filename = "";
      fileTarget.on("change", function () {
        if (window.FileReader) {
          const uploading_file = $(this)[0].files[0];
          console.log($(this)[0].files[0]);
          const fileType = uploading_file["type"];
          const validImgTypes = ["image/jpg", "image/jpeg", "image/png"];
          if (!validImgTypes.includes(fileType)) {
            alert(
              "Iltimos ruxsat etilgan formatdagi rasmlarni yuklang: jpg, jpeg, png"
            );
          } else {
            if (uploading_file) {
              console.log(URL.createObjectURL(uploading_file));
              $(".upload_img_frame")
                .attr("src", URL.createObjectURL(uploading_file))
                .addClass("success");
            }
            filename = uploading_file.name;
          }
        }
        $(this).siblings(".upload-name").val(filename);
      });
    });
    function validateSignUpForm() {
      const mb_nick = $(".mb_nick").val();
      const mb_phone = $(".mb_phone").val();
      const mb_password = $(".mb_password").val();
      const mb_confirm_password = $(".mb_confirm_password").val();
      const shop_img = $(".shop_img").get(0).files[0] ?? null;
      if (
        mb_nick == "" ||
        mb_password == "" ||
        mb_phone == "" ||
        mb_confirm_password == ""
      ) {
        alert("Please, input all required fields");
        return false;
      } else if (mb_password !== mb_confirm_password) {
        alert("Please enter the same passwords");
        return false;
      }
      if (!shop_img) {
        alert("Please upload image!");
        return false;
      }
      return true;
    }
  </script>
</body>
<%-include('includes/footer')%>
