body {
  width: 100%;
}

.shop_navbar {
  width: 100%;
  height: 60px;
  background: #f4f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop_navbar .nav_container {
  width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link_wrap {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav_link_wrap .nav_link {
  color: #092635;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}

.nav_link_wrap .nav_link:hover {
  color: coral;
}

.nav_container .page_name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #092635;
}

.nav_right {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav_right .user_box {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 50px;
}

.user_box .bottom_arrow_icon {
  width: 16px;
  height: 16px;
}
.color_coral {
  color: coral;
}
.dropdown_item_init {
  display: flex;
  align-items: center;
}

.dropdown_item_init span {
  font-weight: 500;
  cursor: pointer;
}

textarea {
  resize: none;
}

.drop_items {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.drop_items img {
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.nav_right .user_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #e4e5ff;
  margin: 0 5px 0 15px;
  padding: 0;
}

.nav_right .message_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.message_wrap .message_icon {
  height: 40px;
  width: 50px;
  cursor: pointer;
}

.nav_right .message_cnt {
  background: rgb(177, 19, 19);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  top: 25%;
  right: -12%;
}

.message_cnt p {
  padding: 0;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Roboto", sans-serif;
  transform: translate(-50%, -50%);
  font-weight: 500;
  color: rgb(255, 255, 230);
}

.shop_content_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.shop_content {
  max-width: 1320px;
  width: 100%;
}

.content_title {
  text-align: center;
  margin: 40px 0 0 0;
  color: #092635;
}

.products_table_body {
  background: #ffffff;
}

.products_table_body td {
  font-size: 16px;
}

.edit_link {
  padding: 3px 15px;
  background: #007bff;
  color: #ffffff;
  border-radius: 4px;
  font-style: normal;
  transition: all 0.2s;
}

.edit_link:hover {
  color: #ffffff;
  background: #006de2;
}

.delete_item {
  padding: 3px 15px;
  background: #dc3545;
  color: #ffffff;
  border-radius: 4px;
  font-style: normal;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s;
}

.delete_item:hover {
  background: #c93141;
}

/* PRODUCT EDIT STYLES START */
.product_edit_wrap {
  display: flex;
  justify-content: center;
}

.product_edit_container {
  max-width: 1000px;
  width: 100%;
  background: #f4f9fc;
  padding: 20px;
  margin-top: 35px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product_edit_container .product_title {
  text-align: center;
  margin-bottom: 20px;
  color: #092635;
}

.product_edit_container .double_input {
  margin-bottom: 20px;
}

.product_edit_container label {
  font-weight: 500;
}

.product_edit_container .form_bottom {
  display: flex;
  justify-content: center;
}

.display_none {
  display: none;
}
.border_red {
  border: 1.5px solid red;
}

.product_edit_container .product_desc_box {
  display: flex;
  flex-direction: column;
}

.product_desc_box textarea {
  border: 1px solid #ced4da;
  color: #495057;
  overflow: auto;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  transition: all 0.15s;
}

.product_desc_box textarea:focus {
  border: 1px solid #007bff;
  box-shadow: rgba(0, 123, 255, 0.4) 0px 0px 0px 2px,
    rgba(0, 123, 255, 0.4) 0px 4px 6px -1px;
}

/* PRODUCT EDIT STYLES END */

.add_btn_wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  width: 100%;
  position: relative;
  /* margin-top: 25px; */
  width: 100%;
  height: auto;
}

.add_product_display {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.05);
}

.add_product_wrap {
  height: 900px;
}

.add_product_container {
  margin-top: 15px;
}

.form_bottom button {
  font-weight: 500;
}

.add_comfirm_btn {
  margin-right: 15px;
}

.media_frame {
  width: 80%;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.upload_img_box {
  height: 110px;
  width: 80px;
  position: relative;
}
.upload_img_box img {
  width: auto;
  height: 100%;
}

.upload_img_box input {
  opacity: 0;
  border: none;
  border-radius: 10px;
  background: grey;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* USER PROFILE EDIT STYLE START */
.profile_edit_display {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.profile_edit_display .profile_card {
  width: 500px;
  height: 730px;
  background: #f4f9fc;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 8px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile_edit_display .edit_img_wrap {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.edit_img_wrap .img_edit_icon {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.edit_img_wrap input {
  opacity: 0;
  border: none;
  border-radius: 10px;
  background: grey;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.profile_edit_display .edit_user_img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.profile_edit_display .input_wrap {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.profile_card button {
  font-weight: 500;
}

.input_wrap label {
  font-weight: 500;
  margin-bottom: 3px;
}

.profile_card h2 {
  color: #092635;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile_card textarea {
  border: 1px solid #ced4da;
  color: #495057;
  overflow: auto;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  transition: all 0.15s;
}

.profile_card textarea:focus {
  border: 1px solid #007bff;
  box-shadow: rgba(0, 123, 255, 0.4) 0px 0px 0px 2px,
    rgba(0, 123, 255, 0.4) 0px 4px 6px -1px;
}

/* USER PROFILE EDIT STYLE END */
